<ion-view title="Change Password" id="page10">
    <ion-content padding="true" class="has-header">
        <form id="changePassword-form12" class="list">
            <ion-list id="changePassword-list36">
                <label class="item item-input" id="changePassword-input22">
                    <span class="input-label">Old Password</span>
                    <input type="password" placeholder="">
                </label>
                <label class="item item-input" id="changePassword-input23">
                    <span class="input-label">New Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button id="changePassword-button16" class="button button-stable  button-block">Change Password</button>
        </form>
    </ion-content>
</ion-view>