<ion-view title="Course of Cooking" id="page15" style="background-color:#91B4E2;">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="courseOfCooking3-card21">
            <ion-item class="item-avatar" id="courseOfCooking3-list-item56">
                <h2>Professor: Mr.Chef</h2>
            </ion-item>
            <div class=" item item-image">
                <img src="img/vAhLQV2QWuNgSET0yqRg_Cooking-Class.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <ion-item class="item-icon-left item-icon-right dark  bar bar-header bar-positive" id="courseOfCooking3-list-item57">
                <i class="icon ion-information"></i>Trainer Information
                <i class="icon ion-android-arrow-dropup"></i>
            </ion-item>
            <div class="spacer" style="width: 300px; height: 24px;"></div>
            <div id="courseOfCooking3-markdown19" style="color:#000000;text-align:center;" class="active">
                <p>Hi, I'm Mr. John Chef.</p>

                <p>I was born in California, US and I made my studies in the University of Gastronomic Sciences of Italy...</p>
            </div>
            <div class="spacer" style="width: 300px; height: 24px;"></div>
            <ion-item id="courseOfCooking3-list-item58">Name: John Chef</ion-item>
            <ion-item id="courseOfCooking3-list-item59">Age: 20 Years old</ion-item>
            <ion-item id="courseOfCooking3-list-item64">Email: jchef@gmail.com</ion-item>
            <ion-item class="item-icon-left item-icon-right dark bar bar-header bar-positive item" id="courseOfCooking3-list-item72"> <!--ui-sref="menu.myCalendar2">-->
                <i class="icon ion-android-chat"></i>Feedback
                <i class="icon ion-android-arrow-dropup"></i>
            </ion-item>
            <ion-item class="item-icon-left calm  active" id="courseOfCooking3-list-item66" ui-sref="menu.message">
                <i class="icon ion-email"></i>
                <a>John Smith</a>  10/08/2016</ion-item>
            <ion-item class="item-icon-left calm" id="courseOfCooking3-list-item73">
                <i class="icon ion-email"></i>
                <a>John Smith</a>  10/09/2016</ion-item>
            <ion-item class="item-icon-left calm" id="courseOfCooking3-list-item76">
                <i class="icon ion-email"></i>
                <a>Mary Weiss</a>  10/10/2016</ion-item>
            <ion-item class="item-icon-left item-icon-right dark  bar bar-header bar-positive" id="courseOfCooking3-list-item65">
                <i class="icon ion-information"></i>Information
                <i class="icon ion-android-arrow-dropright-circle"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right dark  bar bar-header bar-positive" id="courseOfCooking3-list-item88">
                <i class="icon ion-android-contacts"></i>Contacts
                <i class="icon ion-android-arrow-dropright-circle"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right  bar bar-header bar-positive" id="courseOfCooking3-list-item68">
                <i class="icon ion-bookmark"></i>Content
                <i class="icon ion-android-arrow-dropright-circle"></i>
            </ion-item>
            <a href="/#/calendar" class="item-icon-left item-icon-right dark  bar bar-header bar-positive item" id="courseOfCooking3-list-item69"> <!--ui-sref="menu.myCalendar2">-->
                <i class="icon ion-android-calendar"></i>Calendar
                <i class="icon ion-android-arrow-dropright-circle"></i>
            </a>
        </div>

    </ion-content>
</ion-view>