<ion-view title="Message" id="page16" style="background-color:#91B4E2;">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="message-card23">
            <ion-item class="item-avatar" id="message-list-item85">
                <h2>John Smith</h2>
            </ion-item>
            <ion-item id="message-list-item87">Hi,
                <br>My name is John and I'm new in
                <br>this form of e-learning.
                <br>I was a little confused about this sign
                <br>up form but I managed register me
                <br>on the site.
                <br>I think a start guide'll be great for new
                <br>users.
                <br>Thanks.</ion-item>
        </div>
        <button id="message-button14" class="button button-positive  button-block">Answer the email</button>
        <div></div>
    </ion-content>
</ion-view>