<ion-view ng-init="init()" title="My Programs" hide-nav-bar="false" hide-back-button="true" id="page12"  data-tap-disabled="true">
    <ion-content padding="true" class="has-header">
        <ion-list id="myPrograms2-list9">
            <ion-toggle ng-change="pushNotificationChange()" ng-model="selection.togglecomplete" toggle-class="toggle-energized" id="myPrograms-toggle1">Due / Completed</ion-toggle>
            <label class="item item-select" id="myPrograms-select2">
                <span class="input-label">Time</span>
                <select ng-change="pushNotificationChange()" ng-model="selection.time">
                    <option value="1">1 Month</option>
                    <option value="2">5 Month</option>
                    <option value="3">Last Year</option>
                    <option value="4">All the Time</option>
                </select>
            </label>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 32px;"></div>
        <ion-list id="myPrograms2-list10">
            <ion-item class="item-thumbnail-left item-icon-right" id="myPrograms2-list-item23" ui-sref="menu.courseOfCooking3">
                <img src="img/JnDvRUluRiGqOPyIRQNV_Cooking-Class.jpg">
                <h2>Cooking Course</h2>
                <p>Attendance: 5
                    <br>Rating: 4.5</p>
                <i class="icon ion-android-alert"></i>
            </ion-item>
            <div class="item item-body" id="myPrograms2-list-item-container9">
                <ion-list id="myPrograms2-list24">
                    <ion-item class="item-icon-right  bar bar-header bar-positive" id="myPrograms2-list-item34">Trainer: Mr. John Chef
                        <i class="icon ion-android-apps"></i>
                    </ion-item>
                    <ion-item class="item-avatar item-icon-right" id="myPrograms2-list-item54">
                        <h2>John Smith</h2>
                        <i class="icon ion-android-apps"></i>
                    </ion-item>
                    <ion-item class="item-avatar item-icon-right" id="myPrograms2-list-item35">
                        <h2>Mr. Scott</h2>
                        <i class="icon ion-android-apps"></i>
                    </ion-item>
                    <ion-item class="item-avatar item-icon-right" id="myPrograms2-list-item36">
                        <h2>Mary Weiss</h2>
                        <i class="icon ion-android-apps"></i>
                    </ion-item>
                    <ion-item class="item-avatar item-icon-right" id="myPrograms2-list-item44">
                        <h2>Jane Brown</h2>
                        <i class="icon ion-android-apps"></i>
                    </ion-item>
                    <ion-item class="item-avatar item-icon-right" id="myPrograms2-list-item51">
                        <h2>George Stefan Swift</h2>
                        <i class="icon ion-android-apps"></i>
                    </ion-item>
                </ion-list>
            </div>
            <ion-item class="item-thumbnail-left" id="myPrograms2-list-item24">
                <img src="img/lstQpYbpQseU8HYhBQYB_45a5f815ab0e597fec5d2371b560ed98.png">
                <h2>Signing Course</h2>
                <p>Attendance: 5
                <br>Rating: 4.5</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="myPrograms2-list-item25">
                <img src="img/jCBvBWqxSvWwaRrz1OpA_images.jpg">
                <h2>Painting Course</h2>
                <p>Attendance: 5
                <br>Rating: 4.5</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="myPrograms2-list-item26">
                <img src="img/zuG6CO58Ris8fSpt8FgD_download.jpg">
                <h2>Basketball</h2>
                <p>Attendance: 5
                    <br>Rating: 4.5</p>
            </ion-item>
        </ion-list>
        <button id="myPrograms2-button11" class="button button-positive  button-block">Load More...</button>
    </ion-content>
</ion-view>