<ion-view title="Profile" id="page7">
    <ion-content padding="true" class="has-header">
        <div id="profile-container5">
            <form id="profile-form8" class="list">
                <label class="item item-input" id="profile-input8">
                    <span class="input-label">Name</span>
                    <input type="text" ng-model="settings.form.name" placeholder="Name(Required)">
                </label>
            </form>
        </div>
        <form id="profile-form9" class="list">
            <label class="item item-input" id="profile-input9">
                <span class="input-label">Phone</span>
                <input type="text" ng-model="settings.form.phone" placeholder="Phone(Required)">
            </label>
            <label class="item item-input" id="profile-input10">
                <span class="input-label">Email</span>
                <input type="email" ng-model="settings.form.email" placeholder="Email(Required)">
            </label>
            <label class="item item-input" id="profile-input11">
                <span class="input-label">Address</span>
                <input type="text" ng-model="settings.form.address" placeholder="Address(Required)">
            </label>
            <!--label class="item item-input" id="profile-input12">
                <span class="input-label">Location (Lat, Lon)</span>
                <input type="text" placeholder="">
            </label-->
            <label class="item item-input" id="profile-input13">
                <span class="input-label">Pin Code</span>
                <input type="text" ng-model="settings.form.pincode" placeholder="Pin Code(Required)">
            </label>
        </form>
        <div id="profile-container6">
            <h4 id="profile-heading2" style="color:#000000;font-weight:300;text-align:center;">Documents Verification</h4>
        </div>
        <form id="profile-form10" class="list">
            <label class="item item-input" id="profile-input14">
                <span class="input-label">ID Number {{settings.form.documentID}}</span>
            </label>
            <label class="item item-select" id="profile-select3">
                <span class="input-label">Document Type</span>
                <select ng-model="settings.form.documentType">
                    <option>Passport</option>
                    <option>Driver License</option>
                    <option>Voter Id</option>
                </select>
            </label>
			<label ng-show="is_image_loaded" class="item item-input">
				<img ng-src="{{ settings.form.documentImage }}" height="200px"/>
			</label>
            <div id="profile-button-bar1" class="button-bar">
                <button id="profile-button5" ng-click="addImage()" class="button button-calm  button-block">Scan</button>
                <!--button id="profile-button6" class="button button-positive  button-block">Upload</button-->
                <button id="profile-button7" ng-click="addImage()" class="button button-balanced  button-block">Selfie</button>
            </div>
            <div id="profile-container7">
                <h4 id="profile-heading3" style="color:#000000;font-weight:300;text-align:center;">References</h4>
                <form id="profile-form11" class="list">
                    <label class="item item-input" id="profile-input15">
                        <span class="input-label">Name</span>
                        <input type="text" ng-model="settings.form.reference_name" placeholder="Reference Name(Required)">
                    </label>
                    <label class="item item-input" id="profile-input16">
                        <span class="input-label">Relationship</span>
                        <input type="text" ng-model="settings.form.reference_relationship" placeholder="Reference Relationship(Required)">
                    </label>
                    <label class="item item-input" id="profile-input17">
                        <span class="input-label">Phone Number</span>
                        <input type="text" ng-model="settings.form.reference_phone" placeholder="Reference Phone Number(Required)">
                    </label>
                    <div class="spacer" style="width: 300px; height: 35px;"></div>
                    <h4 id="profile-heading4" style="color:#000000;font-weight:300;text-align:center;">Bank Details</h4>
                    <label class="item item-input" id="profile-input18">
                        <span class="input-label">Exact Name in Bank Account</span>
                        <input type="text" ng-model="settings.form.bank_userfullname" placeholder="Full Name(Required)">
                    </label>
                    <label class="item item-input" id="profile-input19">
                        <span class="input-label">Bank Name</span>
                        <input type="text" ng-model="settings.form.bank_name" placeholder="Bank Name(Required)">
                    </label>
                    <label class="item item-input" id="profile-input20">
                        <span class="input-label">Account Number</span>
                        <input type="text" ng-model="settings.form.bank_accountnumber" placeholder="Account Number(Required)">
                    </label>
                    <label class="item item-input" id="profile-input21">
                        <span class="input-label">IFSC Code</span>
                        <input type="text" ng-model="settings.form.bank_ifsccode" placeholder="IFSC Code(Required)">
                    </label>
                    <button type="submit" ng-click="saveprofile()" id="profile-button8" class="button button-positive  button-block">Confirm Information</button>
                    <div class="spacer" style="width: 300px; height: 24px;"></div>
                </form>
            </div>
        </form>
    </ion-content>
</ion-view>