<ion-view title="Program Details" id="page6">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="programDetails-card22">
            <ion-item class="item-avatar" id="programDetails-list-item11">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-icon-left energized" id="programDetails-list-item16">
                <i class="icon ion-android-star"></i>Rating</ion-item>
            <ion-item class="item-icon-left positive" id="programDetails-list-item17">
                <i class="icon ion-ios-calendar-outline"></i>Attendance Ratio</ion-item>
            <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body" id="programDetails-list-item-container3">
                <div id="programDetails-markdown1" style="margin-top:0px;color:#000000;">
                    <p>Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
            </div>
            <ion-item class="item-icon-left calm" id="programDetails-list-item12">
                <i class="icon ion-ios-book"></i>Program Content</ion-item>
            <div class="item item-body" id="programDetails-list-item-container4">
                <ion-list id="programDetails-list6">
                    <ion-item class="item-icon-right energized" id="programDetails-list-item14">Module of Program
                        <i class="icon ion-android-arrow-dropright"></i>
                    </ion-item>
                    <ion-item class="item-icon-right energized" id="programDetails-list-item15">Module 2
                        <i class="icon ion-android-arrow-dropright"></i>
                    </ion-item>
                </ion-list>
            </div>
            <ion-item class="item-icon-left" id="programDetails-list-item18">
                <i class="icon ion-ios-checkmark-outline"></i>Exams</ion-item>
            <div class="item item-body" id="programDetails-list-item-container5">
                <ion-list id="programDetails-list7">
                    <ion-item id="programDetails-list-item19">Item 1</ion-item>
                    <ion-item id="programDetails-list-item20">Item 2</ion-item>
                    <ion-item id="programDetails-list-item21">Item 3</ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>