<ion-view title="Settings" hide-nav-bar="true" id="page11">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <form id="settings-form13" class="list">
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="menu.myCalendar" id="settings-button18" class="button button-stable  button-block">My availability</a>
            <button id="settings-button21" class="button button-stable  button-block">Rating</button>
            <a ui-sref="menu.myProfileSettings" id="settings-button20" class="button button-stable  button-block">My profile</a>
            <a ui-sref="changePassword" id="settings-button22" class="button button-stable  button-block">Change Password</a>
        </form>
    </ion-content>
</ion-view>