<ion-view title="Signup" hide-nav-bar="true" hide-back-button="true" id="page5">
    <ion-content padding="true" style="background: url(img/g5t6STc7R5unHQkRslJy_back.png) no-repeat center;background-size:cover;" class=" manual-remove-top-padding">
        <div class="spacer" style="width: 300px; height: 26px;"></div>
        <div>
            <img src="img/KGB6LNzFSmyXWPixTKq0_logo.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="signup-form2" class="list" ng-submit="doRegister()">
            <div class="spacer" style="width: 300px; height: 32px;"></div>
            <ion-list id="signup-list2">
                <label class="item item-input" id="signup-input3">
                    <span class="input-label">Name</span>
                    <input ng-model="registerdata.name" type="text" placeholder="">
                </label>
                <label class="item item-input" id="signup-input4">
                    <span class="input-label">Username</span>
                    <input ng-model="registerdata.username" type="text" placeholder="">
                </label>
                <label class="item item-input" id="signup-input5">
                    <span class="input-label">Password</span>
                    <input ng-model="registerdata.password" type="password" placeholder="">
                </label>
                <label class="item item-select" id="signup-select7">
                <span class="input-label">Role</span>
                <select ng-model="registerdata.roles">
                    <option value="1">Trainer</option>
                    <option value="2">Corporate Admin</option>
                    <option value="3">Corporate Employee</option>
                    <option value="4">Ziksa Admin</option>
                </select>
                </label>
            </ion-list>
            <button id="signup-button3" type="submit" class="button button-stable  button-block">Sign up</button>
            <a ui-sref="menu.login" id="login-button2" class="button button-light  button-block button-clear">Login</a>
        </form>
    </ion-content>
</ion-view>